<section>
	<div class="criteria">
		<span>type de voyage</span>
		<ul>
			<li>Tourisme</li>
			<li>Travail</li>
			<li>Sortie famille</li>
			<li>Sortie solo</li>
		</ul>
	</div>

	<div class="criteria">
		<span>déplacement vélo</span>
		<div class="rate">
			<input type="radio" id="star5-bike" value="5"/>
			<label for="star5-bike" title="text">5 stars</label>
			<input type="radio" id="star4-bike" value="4"/>
			<label for="star4-bike" title="text">4 stars</label>
			<input type="radio" id="star3-bike" value="3"/>
			<label for="star3-bike" title="text">3 stars</label>
			<input type="radio" id="star2-bike" value="2"/>
			<label for="star2-bike" title="text">2 stars</label>
			<input type="radio" id="star1-bike" value="1"/>
			<label for="star1-bike" title="text">1 star</label>
		</div>
	</div>

	<div class="criteria">
		<span>déplacement bus</span>
		<div class="rate">
			<label for="star5-bus" title="text">5 stars</label>
			<input type="radio" id="star5-bus" value="5"/>
			<label for="star4-bus" title="text">4 stars</label>
			<input type="radio" id="star4-bus" value="4"/>
			<label for="star3-bus" title="text">3 stars</label>
			<input type="radio" id="star3-bus" value="3"/>
			<label for="star2-bus" title="text">2 stars</label>
			<input type="radio" id="star2-bus" value="2"/>
			<label for="star1-bus" title="text">1 star</label>
			<input type="radio" id="star1-bus" value="1"/>
		</div>
	</div>
	<div class="criteria">
		<span>déplacement métro</span>
		<div class="rate">
			<label for="star5-metro" title="text">5 stars</label>
			<input type="radio" id="star5-metro" value="5"/>
			<label for="star4-metro" title="text">4 stars</label>
			<input type="radio" id="star4-metro" value="4"/>
			<label for="star3-metro" title="text">3 stars</label>
			<input type="radio" id="star3-metro" value="3"/>
			<label for="star2-metro" title="text">2 stars</label>
			<input type="radio" id="star2-metro" value="2"/>
			<label for="star1-metro" title="text">1 star</label>
			<input type="radio" id="star1-metro" value="1"/>
		</div>
	</div>
	<div class="criteria">
		<span>déplacement pied</span>
		<div class="rate">
			<label for="star5-walk" title="text">5 stars</label>
			<input type="radio" id="star5-walk" value="5"/>
			<label for="star4-walk" title="text">4 stars</label>
			<input type="radio" id="star4-walk" value="4"/>
			<label for="star3-walk" title="text">3 stars</label>
			<input type="radio" id="star3-walk" value="3"/>
			<label for="star2-walk" title="text">2 stars</label>
			<input type="radio" id="star2-walk" value="2"/>
			<label for="star1-walk" title="text">1 star</label>
			<input type="radio" id="star1-walk" value="1"/>
		</div>
	</div>
	<div class="criteria">
		<span>optimisation du voyage</span>
		<ul>
			<li>Temps minimum</li>
			<li>Voyage tranquille</li>
		</ul>
	</div>
</section>